<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appenders>
        <File name="SystemErrors" fileName="./target/logs/sysErrors.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="UserErrors" fileName="./target/logs/userErrors.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="SQLLog" fileName="./target/logs/sqlLog.log">
            <PatternLayout pattern="%d %p %C{1.} [%t] %m%n"/>
        </File>
    </appenders>

    <loggers>
        <root level="debug">
            <appender-ref ref="SystemErrors" level="error"/>
            <appender-ref ref="UserErrors" level="warn"/>
        </root>
        <logger name="org.hibernate.SQL" level="debug" additivity="false">
            <appender-ref ref="SQLLog" />
        </logger>
        <logger name="org.hibernate.type.descriptor.sql" level="trace" additivity="false">
            <appender-ref ref="SQLLog" />
        </logger>
        <logger name="com.allaroundjava" level="debug" additivity="false">
            <appender-ref ref="SQLLog"/>
        </logger>
    </loggers>
</configuration>