<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">
    <servlet>
        <servlet-name>ServletHello</servlet-name>
        <servlet-class>com.calculator.webapp.test.ServletHello</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CalculateServlet</servlet-name>
        <servlet-class>com.calculator.webapp.CalculateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalculateServlet</servlet-name>
        <url-pattern>/calculation</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ServletHello</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
</web-app>
